@use "./typography" as *;

/* Base reset */
*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media only screen and (max-width: 61.25em) {
  html {
      font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media only screen and (max-width: 28.75em) {
  html {
      font-size: 55%;
  }
}

body {
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}