@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

// font families
$main-font: 'Wix Madefor Display', sans-serif;

// font sizes
$title-font-size: 2rem;
$default-font-size: 1.6rem;