@use "../../styles/global/" as *;

.basket {
    color: $gray-main;

    .btn {
        position: fixed;
        top: unset;
        left: unset;
        right: 3rem;
        bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $default-font-size;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        z-index: 4;
        background: $green-main;
        border: 0.1rem solid $green-main;
        color: #fff;
        transition: 0.3s;
    
        .countVal {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 0;
            top: 0;
            min-width: 2rem;
            font-size: 1.2rem;
            padding: 0.1rem 0.4rem;
            background-color: #F21D46;
            border-radius: 2rem;
        }    
    
        &:hover {
            background-color: #fff;
            cursor: pointer;
        
            .iconShopping {
                color: $green-main;
            }
        }
    }
    
    .body {
        position: fixed;
        bottom: 6rem;
        right: 3rem;
        top: unset;
        left: unset;
        width: 45rem;
        height: fit-content;
        padding: 3rem;
        max-height: 52rem;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0px 3px 5px -1px #ccc;
        z-index: 3;
        transition: opacity 0.3s;
        
        /* 450px / 16px = 28.125em */
        @media only screen and (max-width: 28.125em) {
            width: 85%;
        }
    }

    .title {
        font-size: $title-font-size;
        font-weight: 600;
        width: 100%;
        letter-spacing: 0.1rem;
        border-bottom: 0.3rem solid $green-main;
        padding-bottom: 1rem;
    }

    .items {
        display: flex;
        flex-direction: column;
        max-height: 30rem;
        overflow: hidden auto;
        padding-right: 1.5rem;
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 2px solid #EFF2ED;
        padding: 2rem 0;

        .mainContent {
            display: flex;

            .img {
                width: 8rem;
                height: 8rem;
                object-fit: cover;
            }

            .innerContainer {
                margin-left: 2rem;

                .innerContainerTitle {
                    font-size: $default-font-size;
                    max-width: 20rem;
                }

                .quantityContainer {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: $default-font-size;
                    padding: 1rem 0;
                    
                    .quantityBtn {
                        background-color: #fff;
                        border: none;
                        font-size: $default-font-size;
                        color: $green-main;

                        &:hover {
                            color: $gray-main;
                            cursor: pointer;
                        }
                    }

                    .quantityVal {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0.25rem 1.5rem;
                        width: 4.5rem;
                        color: $gray-lighter;
                        border: 0.25rem solid #EFF2ED;
                        margin: 0 1rem;
                    }
                }
            }    
        }

        .removeBtn {
            background-color: #fff;
            border: none;
            font-size: $title-font-size;
            color: $green-main;

            &:hover {
                color: $gray-main;
                cursor: pointer;
            }
        }
    }


    .promoRow {
        padding-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;

        .elem1 {
            .promoTitle {
                font-size: $default-font-size;
            }

            .input {
                margin-top: 0.5rem;
                padding: 0.75rem 1rem;
                border: 0.2rem solid $gray-light;

                &:focus {
                    outline: 0.1rem solid $gray-light;
                }

                /* 450px / 16px = 28.125em */
                @media only screen and (max-width: 28.125em) {
                    font-size: 1.4rem;
                    width: 100%;
                }

                /* 340px / 16px = 21.25em */
                @media only screen and (max-width: 21.25em) {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }

    .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0 0;
        font-size: $title-font-size;
        letter-spacing: 0.1rem;

        .price {
            font-size: 2.2rem;
            font-weight: bold;
            color: $green-main;

            .currency {
                font-size: $default-font-size;
                color: $gray-lighter;
                font-weight: normal;
            }
        }
    }
}