@use "../../styles/global/" as *;

.navbar {
    width: 100%;
    height: 5rem;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff2ed;
    position: sticky;
    top: 0;
    z-index: 1;

    .list {
        width: 100rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .element {
        display: flex;
        height: 100%;

        .link {
            display: flex;
            align-items: center;
            color: $gray-lighter;
            height: 100%;
            font-size: $default-font-size;
            font-weight: bold;
            letter-spacing: 0.1rem;
            padding: 0 3.8rem;
            transition: 0.15s;
        }

        .link:hover {
            color: $green-main;
            background-color: #e2e9dd;
        }
    }
}

/* 1000px / 16px = 62.5em */
@media only screen and (max-width: 62.5em) {
    .navbar {
        .element {
            .link {
                letter-spacing: 0;
                padding: 0 2.4rem;
            }
        }
    }
}

/* 750px / 16px = 46.875em */
@media only screen and (max-width: 46.875em) {
    .navbar {
        .element {
            .link {
                letter-spacing: 0;
                padding: 0 1rem;
            }
        }
    }
}

/* 550px / 16px = 34.375em */
@media only screen and (max-width: 34.375em) {
    .navbar {
        .element {
            .link {
                font-size: 1.3rem;
                letter-spacing: 0;
                padding: 0 0.5rem;
            }
        }
    }
}

/* 380px / 16px = 23.75em */
@media only screen and (max-width: 23.75em) {
    .navbar {
        .element {
            .link {
                font-size: 1.2rem;
                letter-spacing: 0;
                padding: 0 0.25rem;
            }
        }
    }
}