$green-main: rgb(49, 196, 141);
$gray-main: #333;
$gray-lighter: #726c6c;
$gray-light: #CFCFCF;

.category {
    display: flex;
    flex-direction: column;
    width: 100rem;
    padding: 2rem 0;

    &__header {
        border-bottom: 0.1rem solid #eee;
        margin-bottom: 1rem;
    }

    &__title {
        color: $green-main;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .food-cards {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__food-card {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 30rem;
        margin: 0 5rem 8rem 0;
        font-size: 1.6rem;
        color: $gray-main;

        &:nth-of-type(3n) {
            margin: 0 0 8rem 0;
        }

        .food-card-img {
            object-fit: cover;
            width: 30rem;
            height: 30rem;
            border-radius: 0.5rem;

            &:hover {
                outline: 0.25rem solid $green-main;
            }
        }

        .food-card-description {
            display: flex;
            flex-direction: column;
            padding-bottom: 0.5rem;

            .food-card-title {
                font-size: 2rem;
                padding: 0.5rem 0 0;
            }
    
            .food-card-caption {
                font-size: 1.4rem;
                padding: 0.5rem 0;
                color: $gray-lighter;
            }
    
        }

        .food-card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 1rem 0;
            margin-bottom: -4.7rem;
            border-top: 0.1rem solid #eee;

            .price {
                .number {
                    color: $green-main;
                    font-weight: bold;
                    font-size: 2.2rem;
                }
            }

            .food-card-btn {
                font-size: 1.5rem;
                padding: 0.5rem 2rem;
                letter-spacing: 0.1rem;
            }
        }
    }
    
    /* 1000px / 16px = 62.5em */
    @media only screen and (max-width: 62.5em) {
        width: 80rem;

        &__food-card {
            max-width: 22rem;
            margin: 0 6.8rem 8rem 0;

            .food-card-img {
                object-fit: cover;
                width: 22rem;
                height: 22rem;
                border-radius: 0.5rem;
            }

            .food-card-description {
                .food-card-title {
                    font-size: 1.6rem;
                }
    
                .food-card-caption {
                    font-size: 1.2rem;
                    padding: 0.5rem 0;
                }
            }
            
            .food-card-footer {
                .price {
                    font-size: 1.4rem;
                    .number {
                        font-size: 2rem;
                    }
                }

                .food-card-btn {
                    padding: 0.5rem 1rem;
                    font-size: 1.2rem;
                }
            } 
        }
    }

    /* 750px / 16px = 46.875em */
    @media only screen and (max-width: 46.875em) {
        width: 55rem;

        &__food-card {
            margin: 0 10.5rem 8rem 0;

            &:nth-of-type(3n) {
                margin: 0 10.5rem 8rem 0;
            }

            &:nth-of-type(2n) {
                margin: 0 0 8rem 0;
            }
        }
    }

    /* 550px / 16px = 34.375em */
    @media only screen and (max-width: 34.375em) {
        width: 35rem;
        .food-cards {
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }

        &__food-card {
            max-width: 35rem;
            margin: 0 0 8rem 0;

            &:nth-of-type(2n) {
                margin: 0 0 8rem 0;
            }

            &:nth-of-type(3n) {
                margin: 0 0 8rem 0;
            }

            .food-card-img {
                object-fit: cover;
                width: 35rem;
                height: 35rem;
                border-radius: 0.5rem;
            }
        }
    }
}