$gray-main: #333;
$gray-lighter: #726c6c;
$gray-light: #CFCFCF;

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 0.1rem solid #eff2ed;
    font-size: 1.8rem;
    padding: 4rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        width: 100rem;
    }

    &__col {
        color: $gray-main;
    }

    ul > li {
        margin: 0.2rem 0;
    }

    .link {
        color: $gray-main;
        
        &:hover {
            border-bottom: 0.1rem solid $gray-lighter;
        }
    }

    &__logo {
        width: 20rem;
    }

    &__telephone-number {
        @extend .header__telephone-number;
    }

    /* 1000px / 16px = 62.5em */
    @media only screen and (max-width: 62.5em) {
        .container {
            width: 80rem;
            align-items: flex-start;
            font-size: 1.4rem;
        }

        &__col {
            margin: 0 1rem;
        }
    }

    /* 750px / 16px = 46.875em */
    @media only screen and (max-width: 46.875em) {
        padding: 1rem 0;
        
        .container {
            flex-direction: column;
            width: 23.5rem;
            align-items: flex-start;
            font-size: 1.6rem;
        }

        &__col {
            padding: 1rem 0;
        }

        &__logo {
            width: 20rem;
        }
    }
}