$green-main: rgb(49, 196, 141);
$gray-main: #333;
$gray-lighter: #726c6c;
$gray-light: #CFCFCF;

.header {
    display: flex;
    width: 100%;
    padding: 1rem 0 2rem;
    color: $gray-main;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &__row-1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .row-1-elem-1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

    &__logo {
        width: 20rem;
        margin-right: 6rem;
    }

    &__telephone {
        margin-left: 6rem;
        padding: 0 1rem;
    }

    &__telephone-number,
    &__telephone-title {
        font-size: 1.6rem;
    }

    &__telephone-title {
        font-weight: normal;
        color: $gray-main;
    }

    &__telephone-number {
        font-weight: bold;
        color: $gray-lighter;

        &:hover {
            color: $gray-lighter;
            border-bottom: 0.1rem solid $gray-light;
            cursor: pointer;
        }

        .regional-number {
            color: $green-main;
            font-size: 1.7rem;
        }
    }

    &__sign-in-btn {
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        margin-left: 6rem;
        margin-right: 3rem;
    }

    &__sign-up-btn {
        color: $gray-lighter;
        font-size: 1.6rem;
        font-weight: bold;
        transition: 0.3s;
    }

    &__row-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    &__location-icon {
        font-size: 1.6rem;
        color: $gray-main;
        background-color: $gray-light;
        padding: 0.8rem 1.2rem;
    }

    &__address {
        width: 50rem;
        font-size: 1.4rem;
        padding: 0.85rem 1rem;
        color: $gray-main;
        border: 0.1rem solid $gray-light;
        border-left: none;

        &:focus {
            outline: 0.1rem solid $gray-light;
        }
    }

    /* 1000px / 16px = 62.5em */
    @media only screen and (max-width: 62.5em) {
        &__logo {
            width: 18rem;
            margin-right: 3rem;
        }

        &__telephone {
            margin-left: 3rem;
        }

        &__sign-in-btn {
            margin-left: 3rem;
        }
    }

    /* 750px / 16px = 46.875em */
    @media only screen and (max-width: 46.875em) {
        &__row-1 {
            flex-direction: column;
        }

        .row-1-elem-1 {
            margin-bottom: 1rem;
            flex-wrap: wrap;
        }

        &__logo {
            margin-right: 0.5rem;
        }

        &__telephone {
            margin-left: 0.5rem;
        }

        &__sign-in-btn {
            margin-left: 2rem;
        }

        &__address {
            width: 50rem;
        }

        .dropdown-container {
            .title {
                font-size: 1.6rem;
            }
        }
    }

    /* 550px / 16px = 34.375em */
    @media only screen and (max-width: 34.375em) {
        &__row-1 {
            flex-direction: column;
        }

        .row-1-elem-1 {
            flex-wrap: wrap;
            margin-bottom: 2rem;
        }

        &__logo {
            width: 15rem;
            margin-right: 2rem;
        }

        &__telephone {
            margin-top: 1rem;
            margin-left: 0.5rem;
        }

        &__sign-in-btn {
            margin-left: 0;
        }

        &__address {
            width: 30rem;
        }

        .dropdown-container {
            .title {
                font-size: 1.5rem;
            }
        }
    }
}