$green-main: rgb(49, 196, 141);
$gray-main: #333;
$gray-lighter: #726c6c;
$gray-light: #CFCFCF;

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75rem;
    color: $gray-main;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 0;
        
        .title-container {
            display: flex;
            flex-direction: column;
            width: 60%;

            .product-title {
                font-size: 2.4rem;
            }

            .product-description {
                font-size: 1.8rem;
                color: $gray-lighter;
            }
        }

        .price-container {
            display: flex;
            align-items: center;

            .price {
                font-size: 2.6rem;
                .number {
                    color: $green-main;
                    font-weight: bold;
                    font-size: 2.8rem;
                }
            }

            .product-btn {
                padding: 0.5rem 2rem;
                letter-spacing: 0.1rem;
                margin-left: 3rem;
            }
        }
    }

    &__img {
        width: 100%;
        height: 37.5rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    &__main {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 2rem 0;
        border-bottom: 0.3rem solid #eff2ed;

        .product-description-full {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            font-size: 1.6rem;
            color: $gray-lighter;
        }

        .product-extra-info {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .col-1 {
                width: 30rem;
                .weight-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 2.2rem;
                    padding: 2rem 0;
                    border-bottom: 0.3rem solid #eff2ed;

                    .weight-val {
                        color: $green-main;
                        font-weight: bold;
                        font-size: 2.4rem;
                    }
                }

                .energy-container {
                    @extend .weight-container;
                    
                    .energy-val {
                        @extend .weight-val;
                    }
                }

                .nutritional-title {
                    color: $gray-lighter;
                    font-size: 2.2rem;
                    padding: 2rem 0;
                    border-bottom: 0.3rem solid $green-main;
                }

                .proteins-container,
                .fats-container,
                .carbs-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 0;
                    font-size: 1.6rem;
                    border-bottom: 0.2rem solid #eff2ed;
                }

                .proteins-title,
                .fats-title,
                .carbs-title {
                    color: $gray-lighter;
                }

                .carbs-container {
                    border: none;
                }

                .desktop_hide {
                    @extend .weight-container;
                    display: none;
                    
                    .energy-portion-val {
                        @extend .weight-val;
                    }
                }
            }

            .col-2 {
                display: flex;
                flex-direction: column;
                width: 30rem;

                .energy-portion-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 2.2rem;
                    padding: 2rem 0;
                    border-bottom: 0.3rem solid #eff2ed;

                    .energy-portion-val {
                        color: $green-main;
                        font-weight: bold;
                        font-size: 2.4rem;
                        padding-left: 0.5rem;
                    }
                }

                .ingredients-container {
                    .ingredients-title {
                        color: $gray-lighter;
                        font-size: 2.2rem;
                        padding: 2rem 0;
                        border-bottom: 0.3rem solid #eff2ed;
                    }
    
                    .ingredients-val {
                        padding: 2rem 0;
                        color: $gray-lighter;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 0;
        font-size: 2.2rem;

        .quantity-container {
            display: flex;
            align-items: center;

            .quantity-interaction {
                display: flex;
                align-items: center;
                margin-left: 4rem;

                .quantity-btn {
                    width: 5rem;
                    height: 5rem;
                    padding: 0;
                    text-align: center;
                    color: $green-main;
                    border-radius: 0;
                    background-color: #fff;

                    &:hover {
                        color: #fff;
                        background-color: $green-main;
                    }
                }

                .quantity-val {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 5rem;
                    height: 5rem;
                    background-color: #fff;
                    border-top: 0.1rem solid $green-main;
                    border-bottom: 0.1rem solid $green-main;
                }
            }
        }

        .price-container {
            display: flex;
            align-items: center;

            .price {
                font-size: 2.2rem;
                .number {
                    color: $green-main;
                    font-weight: bold;
                    font-size: 2.4rem;
                }
            }

            .product-btn {
                font-size: 1.6rem;
                padding: 1rem 3rem;
                letter-spacing: 0.1rem;
                margin-left: 4rem;
            }
        }
    }

    /* 750px / 16px = 46.875em */
    @media only screen and (max-width: 46.875em) {
        width: 55rem;

        &__main {
            .product-extra-info {
                flex-direction: column;
                align-items: center;

                .col-1,
                .col-2 {
                    width: 100%;
                }

                // show hidden container
                // when col-1 and col-2
                // merged into one column
                .col-1 {
                    .desktop_hide {
                        display: flex;
                    }
                }

                .col-2 {
                    .energy-portion-container {
                        display: none;
                    }
                }
            }
        }

        &__footer {
            .quantity-container {
                .quantity-interaction {
                    margin-left: 2rem;
                }
            }

            .price-container {
                .product-btn {
                   margin-left: 2rem; 
                }
            }
        }
    }

    /* 550px / 16px = 34.375em */
    @media only screen and (max-width: 34.375em) {
        width: 32rem;

        &__img {
            height: 30rem;
        }

        &__footer {
            flex-direction: column;

            .quantity-container,
            .price-container {
                width: 100%;
                justify-content: space-between;
            }

            .price-container {
                margin-top: 2rem;
            }
        }
    }
}